
.myFormModal .myModalContent{
	width:93% !important;
	max-width:700px !important;
}

.paper_title{
	font-size: 16px;
	font-weight: bolder;
}
.paper_subtitle{
	font-size: 11px;	
}

.ic_row{
	margin-top: 7px;		
}

