.bg-smoke{
	background-color: whitesmoke;
}
.border-gr{
	border-color: #47c363;
}
.greenText{
	color: green;
}
.cardBody{
	background: #fff;
	border:1px solid #e4e6fc;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}