.myForm .myInput input,.myForm .mySelect .MuiSelect-select{
	color: #555 !important;
}


.myForm .mySelect.myPlaceHolder .MuiSelect-select{
  color: #ccc !important;
}

.myForm.modal-content, .myForm.modal-content .myPaper{
	box-shadow: none !important;
}

.myForm.main-content .myPaper{
	padding: 28px !important;
}
.myForm.main-content .myFormlayout{
	border: 1px solid #333;
	padding: 28px !important;
	border: 1px solid #E4E4E4;
	border-radius: 8px;
}

.myForm .myFormHeader{
	margin-bottom: 10px;
}

.myForm .my-btn{
	min-width: 50px !important; 
}

.myForm .myLabel .my-btn{
  position: absolute !important;
  right: 0 !important;
  top: -15px;
  height: 32px !important;
  width: 130px;
  cursor: pointer !important; 
  font-size: 14px;
}

.myForm .myLabel .my-btn button{
	width: 100%;
	background: none;
	color: none;
	box-shadow: none;
	border: none;
	padding: 0px;
	padding-top: 4px;
}

